<footer>
    <div class="social-icons">
        <a href="https://www.instagram.com/_denkata.sw_?igsh=c3ZmcDJ0cG9lODFh" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https://bg.linkedin.com/in/danislav-kanev-b6bb9230a" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        <a href="https://x.com/just_drexy?s=21 " class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://pin.it/2AZ7QUT7a " class="social-icon" target="_blank"><i class="fab fa-pinterest"></i></a>
    </div>
    <button class="fullscreen-btn" onclick="toggleFullScreen()">
        <i class="fas fa-expand"></i>
    </button>
</footer>